.child {
    height: 90px;
    width: 90px;
    margin: 4px;
    /*padding: 5px;*/
    /* display: flex; */
    /*background-color: pink;*/
    /* justify-content: center; */
    /* align-items: center; */
}

.parent {
    /*display: flex;
    /*flex-direction: row;*/
    /* align-items: center; */
    /*justify-content: space-evenly;*/
    /*can give start, flex-end, center, space-between, space-around*/
    /*background-color: aqua;*/
}

#child1 {
    background-color: red;
    float: left;
}

#child2 {
    background-color: green;
    float: left;
}

#child3 {
    background-color: blue;
    float: left;
    clear: left;
}

#child4 {
    background-color: yellow;
    float: left;
    clear: none;
}

ll;
;
ll